@model List<DeevFolio.Models.TblAddress>
<div class="col-md-6">
    <div class="title-box-2 pt-4 pt-md-0">
        <h5 class="title-left">
           İletişim
        </h5>
    </div>
    <div class="more-info">
        @foreach (var item in Model)
        {
            <p class="lead">
                @item.Description
            </p>
            <ul class="list-ico">
                <li><span class="ion-ios-location"></span> @item.Location</li>
                <li><span class="ion-ios-telephone"></span>@item.PhoneNumber</li>
                <li><span class="ion-email"></span> @item.Email</li>
            </ul>
        }

    </div>
    @Html.Action("PartialSocialMedia","Default")
</div>