@model List<DeevFolio.Models.TblProfile>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Profil Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Adı Soyadı</th>
        <th>Başlık</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProfileID</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td><a href="/Profile/DeleteProfile/@item.ProfileID/" class="btn btn-warning">Sil</a></td>
            <td><a href="/Profile/UpdateProfile/@item.ProfileID/" class="btn btn-success">Güncelle</a></td>
        </tr>

    }
</table>

<a href="/Profile/CreateProfile" class="btn btn-info">Yeni Profil Girişi</a>